body {
    background-color: #141519;
    color: #fff;
    font-family: 'Open Sans', Arial, sans-serif;
    overflow: hidden;
}
@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../fonts/Gilroy-Regular.ttf') format('truetype');
}
.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 200px);
    margin: auto;
    max-width: 1000px;
    padding: 100px 20px;
    text-align: center;
}

.logo {
    margin-bottom: 5px;
}

.captcha-wrapper {
    margin: 60px 0;
}

.footer {
    align-items: center;
    display: flex;
    font-size: 14px;
    margin-top: auto;
}

.footer :nth-child(2) {
    border-left: 1px solid #4b4650;
    margin-left: 12px;
    padding-left: 12px;
    border-right: 1px solid #4b4650;
    margin-right: 12px;
    padding-right: 12px;
}

.gray {
    color: #878080;
}

.loading-description {
    color: #878080;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 22px;
}

.loading-text {
    animation: wave 1s infinite;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: url('../gotosite/1.jpg');
    background-repeat: repeat-x;
    background-size: 300px 300px;
    color: transparent;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 120px;
    opacity: 1;
    text-transform: uppercase;
}

@media screen and (max-width: 930px) {
    .loading-text {
        font-size: 100px;
    }
}

@media screen and (max-width: 735px) {
    .loading-text {
        font-size: 80px;
    }
}

@media screen and (max-width: 600px) {
    .loading-text {
        font-size: 60px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 475px) {
    .loading-text {
        font-size: 40px;
    }

    .loading-description {
        font-size: 18px;
    }
}

@keyframes wave {
    0% {
        background-position: 0 bottom;
    }
    to {
        background-position: 300px bottom;
    }
}

/* Кнопка "Главная" */
.back-button {
    height: 46px;
    display: flex;
    border-radius: 100px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: rgba(221, 221, 221, 0.80);
    text-decoration: none;
    background: transparent;
    transition: color 0.3s;
    padding: 0 20px;
    position: absolute;
    overflow: hidden;
    top: 20px;
    left: 20px;
    font-family: 'Gilroy-Regular', sans-serif;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: rgba(120, 115, 115, 0.377);
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    font-family: 'Gilroy-Regular', sans-serif;
}
.back-button:hover {
    color: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.8);
}
.back-button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background: rgba(127, 40, 255, 0.8);
    transition: width 0.4s ease;
}

.back-button:hover::after {
    width: 100%;
}

.back-button.active {
    background: #8652D3;
    color: white;
}

.back-button.active::after {
    width: 100%;
}